.bordertest {
  border: 3px solid red;
}

.bordertest1 {
  border: 1px solid blue;
}

.mr-icon {
  margin-right: 10px;
}
/*Navigation*/

.navbar-bg-colour {
  background-color: rgb(80, 84, 107);
  color: white;
}

.nav-container {
}

.brand-textl {
  font-weight: 900;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navi-center {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.nav-btn {
  background-color: #7722f0;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  display: flex;
}

.nav-btn:hover {
  background-color: #7424e4;
  cursor: pointer;
}

.nav-btn-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

/*Landing*/

.landing-main {
  display: flex;
  width: auto;
  height: auto;
}

.landing-m {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

.landing-img {
  /* z-index: -1; */
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
}

.landing-text {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin-top: -700px;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;

  /* z-index: 1; */
}

.text-clarity {
  margin-top: -30px;
}

.landing-text-two {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;

  /* z-index: 2; */
}

/*GraphicalInfo general*/

.section-container {
  /* display: flex; */
  /* width: auto; */
  /* height: 758px; */
}

.section-container-in {
  /* margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto; */
  margin-bottom: 100px;
}

.section-text-1 {
  color: black;
  font-size: 40px;
  font-weight: 400;

  /* margin-top: -700px; */
  /* margin-left: auto;
  margin-right: auto; */
}

.section-text-2 {
  color: black;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: -6px;

  /* margin-top: -700px; */
  /* margin-left: auto;
  margin-right: auto; */
}

.section-text-3 {
  color: black;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;

  /* margin-top: -700px; */
  /* margin-left: auto;
  margin-right: auto; */
}

.section-image-tile {
  border: 2px solid red;
  width: 800px;
  height: 500px;
  border-radius: 15px;
}

.section-img-1 {
  width: 800px;
  height: 500px;
  overflow: hidden;

  max-width: 100%;
  height: 100%;
  object-fit: fill;
}

.section-img {
  z-index: -1;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
}

.section-text {
  color: cornsilk;
  font-size: x-large;
  margin-top: -700px;
  margin-left: auto;
  margin-right: auto;
}
/*GraphicalInfo 1*/
/*GraphicalInfo 2*/
/*GraphicalInfo 3*/
/*GraphicalInfo 4*/

/*News*/
.news-header {
  font-size: x-large;
  font-weight: 600;
}

.news-tile {
  width: 300px;
  height: 350px;
  border: 1px solid gray;
  border-radius: 15px;
}

.news-image {
  width: 300px;
  height: 250px;
  border: 1px solid rgb(170, 110, 110);
  border-radius: 15px;
}

.news-btn {
  background-color: #7722f0;
  width: 170px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.news-btn:hover {
  background-color: #6b24ce;
  cursor: pointer;
}

.news-btn-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 500;
}

/* Main-faq*/

.main-faq {
  background-color: rgb(27, 26, 26);
  padding-top: 40px;
}

.faq-mr {
  padding-left: 350px;
}

.faq-header {
  font-size: x-large;
  font-weight: 600;
  color: white;
}

.faq-main-questions {
  color: white;
  cursor: pointer;
}

.faq-question-main:hover {
  color: blue;
}

.faq-btn {
  background-color: #7722f0;
  width: 170px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  /* margin-top: 30px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.faq-btn:hover {
  background-color: #6b24ce;
  cursor: pointer;
}

.faq-btn-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 500;
}

/* Footer*/
.footer-main {
  background-color: black;
  color: white;
}

.stay-con-text {
  font-size: large;
  font-weight: 500;
  margin-left: 5px;
}

.footer-form-div {
  margin-left: 100px;
}

.form-container {
  width: 90%;
}
.contact-form {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.form-disclaimer {
  color: gray;
  margin-top: -30px;
  margin-left: 5px;
  font-size: 13px;
}

.footer-contact-btn {
  background-color: #7722f0;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.footer-contact-btn:hover {
  background-color: #6b24ce;
  cursor: pointer;
}
.footer-contact-btn-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 500;
}

.footer-clickable-text {
  font-size: larger;
  font-weight: 500;
}

.footer-clickable-text-individual:hover {
  color: blue;
  cursor: pointer;
}
